In [2]:
import pandas as pd
import numpy as np

## Gene Gene Interactions

It is a matrix of gene to gene interactions that is split between three files, ExE, ExN, NxN,
where E stands for essential genes and N for nonessential genes.

In this notebook we load those matrices and combine them into a single big matrix.

In [3]:
GxG_data_Costanzo_ExE = pd.read_csv('data/SGA_ExE_clustered.cdt', sep = '\t', dtype = 'str')
GxG_data_Costanzo_ExN = pd.read_csv('data/SGA_ExN_clustered.cdt', sep = '\t', dtype = 'str')
GxG_data_Costanzo_NxN = pd.read_csv('data/SGA_NxN_clustered.cdt', sep = '\t', dtype = 'str')

In [4]:
GxG_data_Costanzo_ExE

,GID,Strain,ORF,Name,Label,GWEIGHT,tsa1184,tsa1067,tsa1100,tsa1111,...,tsa950,tsa367,tsa676,tsa859,tsa860,tsa989,tsa1034,tsa927,tsa1239,tsa932
0,AID,NaN,NaN,NaN,NaN,NaN,ARRY154X,ARRY47X,ARRY76X,ARRY87X,...,ARRY759X,ARRY405X,ARRY594X,ARRY697X,ARRY699X,ARRY777X,ARRY20X,ARRY742X,ARRY202X,ARRY745X
1,ORF,NaN,NaN,NaN,NaN,NaN,YDR478W,YHR040W,YIL104C,YDR064W,...,YBL034C,YBR055C,YLR105C,YDL103C,YDL103C,YKL104C,YKL024C,YOR074C,YDR081C,YOR204W
2,Name,NaN,NaN,NaN,NaN,NaN,SNM1,BCD1,SHQ1,RPS13,...,STU1,PRP6,SEN2,QRI1,QRI1,GFA1,URA6,CDC21,PDC2,DED1
3,Label,NaN,NaN,NaN,NaN,NaN,snm1-5001,bcd1-5001,shq1-5001,rps13-5001,...,stu1-7,prp6-ts,sen2-1,qri1-ts1,qri1-ts6,gfa1-97,ura6-6,cdc21-1,pdc2-5001,ded1-f144c
4,EWEIGHT,NaN,NaN,NaN,NaN,NaN,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,GENE519X,tsq26,YAL038W,CDC19,cdc19-1,1,0.041,0.028,0.042,0.006,...,-0.022,-0.005,-0.021,0.022,-0.004,0.017,0.027,-0.161,0.063,-0.028
825,GENE604X,tsq455,YBR055C,PRP6,prp6-1,1,0.024,-0.046,0.049,0.006,...,NaN,NaN,-0.003,0.004,0.048,0.036,0.067,0.099,0.054,0.016
826,GENE614X,tsq472,YGR091W,PRP31,prp31-1,1,0.058,0.067,0.019,-0.007,...,-0.043,-0.011,0.022,0.014,0.020,0.023,0.060,0.055,0.113,0.043
827,GENE721X,tsq676,YLR105C,SEN2,sen2-1,1,0.018,0.020,0.031,0.004,...,-0.069,-0.007,NaN,0.039,0.004,0.037,0.012,0.093,0.123,0.043
828,GENE803X,tsq94,YBR196C,PGI1,pgi1-2,1,0.023,0.001,-0.019,0.019,...,NaN,NaN,-0.005,0.014,-0.030,-0.006,0.042,-0.118,0.135,0.256

In [5]:
GxG_data_Costanzo_ExN

,GID,Strain,ORF,Name,Label,GWEIGHT,dma3509,dma3243,dma3812,dma3908,...,dma750,dma3957,dma2604,dma998,dma4951,dma826,dma4263,dma4575,dma5223,dma615
0,AID,NaN,NaN,NaN,NaN,NaN,ARRY2010X,ARRY1794X,ARRY2271X,ARRY2338X,...,ARRY3621X,ARRY2368X,ARRY1268X,ARRY3825X,ARRY3104X,ARRY3675X,ARRY2508X,ARRY2790X,ARRY3328X,ARRY3507X
1,ORF,NaN,NaN,NaN,NaN,NaN,YML003W,YLR182W,YMR215W,YMR305C,...,YDL180W,YNL027W,YJL204C,YDR251W,YPL220W,YDL234C,YNR062C,YOR182C,YDR036C,YDL018C
2,Name,NaN,NaN,NaN,NaN,NaN,NaN,SWI6,GAS3,SCW10,...,NaN,CRZ1,RCY1,PAM1,RPL1A,GYP7,NaN,RPS30B,EHD3,ERP3
3,Label,NaN,NaN,NaN,NaN,NaN,yml003w,swi6,gas3,scw10,...,ydl180w,crz1,rcy1,pam1,rpl1a,gyp7,ynr062c,rps30b,ehd3,erp3
4,EWEIGHT,NaN,NaN,NaN,NaN,NaN,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2063,GENE1056X,sn543,YKL176C,LST4,lst4,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2064,GENE20X,sn1089,YGR163W,GTR2,gtr2,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2065,GENE2043X,tsq955,YLR321C,SFH1,sfh1-1,1,0.001,NaN,-0.005,0.013,...,0.007,0.038,-0.019,0.028,-0.012,-0.025,0.012,0.189,-0.038,0.003
2066,GENE1057X,sn544,YGR057C,LST7,lst7,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2067,GENE1131X,sn764,YLR371W,ROM2,rom2,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
GxG_data_Costanzo_NxN

,GID,Strain,ORF,Name,Label,GWEIGHT,dma1902,dma1903,dma3438,dma366,...,dma4474,dma3868,dma3921,dma3907,dma3910,dma3911,dma3918,dma4686,dma4867,dma5251
0,AID,NaN,NaN,NaN,NaN,NaN,ARRY690X,ARRY691X,ARRY1965X,ARRY2138X,...,ARRY2701X,ARRY2300X,ARRY2348X,ARRY2337X,ARRY2340X,ARRY2341X,ARRY2345X,ARRY2876X,ARRY3038X,ARRY3347X
1,ORF,NaN,NaN,NaN,NaN,NaN,YGR152C,YGR151C,YLR408C,YBR219C,...,YOR042W,YMR265C,YMR316C-B,YMR306C-A,YMR304C-A,YMR303C,YMR318C,YOR296W,YPL133C,YCR107W
2,Name,NaN,NaN,NaN,NaN,NaN,RSR1,NaN,BLS1,NaN,...,CUE5,NaN,NaN,NaN,NaN,ADH2,ADH6,NaN,RDS2,AAD3
3,Label,NaN,NaN,NaN,NaN,NaN,rsr1,ygr151c,bls1,ybr219c,...,cue5,ymr265c,ymr316c-b,ymr306c-a,ymr304c-a,adh2,adh6,yor296w,rds2,aad3
4,EWEIGHT,NaN,NaN,NaN,NaN,NaN,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3283,GENE3020X,sn672,YGR041W,BUD9,bud9,1,NaN,NaN,0.059,0.043,...,-0.005,0.002,0.030,0.040,-0.021,-0.004,0.079,0.011,0.044,0.007
3284,GENE3044X,sn701,YLR020C,YEH2,yeh2,1,0.002,0.050,-0.005,-0.012,...,-0.004,0.036,-0.000,0.009,0.105,0.056,0.135,-0.001,0.052,0.005
3285,GENE3143X,sn825,YKR102W,FLO10,flo10,1,-0.022,-0.060,-0.011,-0.044,...,0.048,0.019,0.006,0.026,0.001,0.053,0.102,-0.081,0.018,-0.011
3286,GENE3052X,sn711,YBL043W,ECM13,ecm13,1,-0.059,0.006,-0.199,-0.035,...,0.001,0.029,-0.040,0.002,-0.004,-0.006,0.001,0.006,0.043,-0.019
3287,GENE3217X,sn913,YMR101C,SRT1,srt1,1,NaN,NaN,-0.015,0.012,...,0.057,0.026,0.025,-0.036,-0.000,0.044,-0.002,-0.032,0.011,-0.004

In [17]:
# Clear columns for ExN Data
Costanzo_ExN_cleared = GxG_data_Costanzo_ExN.drop(GxG_data_Costanzo_ExN.columns[[0, 1, 3, 4]], axis=1)

# Drop the columns without GWEIGHT
Costanzo_ExN_cleared = Costanzo_ExN_cleared.dropna(subset=["GWEIGHT"])

# Drop the GWEIGHT column, since all remaining GWEIGHTS are the same 
Costanzo_ExN_cleared = Costanzo_ExN_cleared.drop(columns=["GWEIGHT"])

# Rename gene_id column and set it as index
Costanzo_ExN_cleared = Costanzo_ExN_cleared.rename(columns={"ORF": "gene_id"}).set_index("gene_id")

# Drop the columns with over 15% nan values
# Costanzo_ExN_cleared = Costanzo_ExN_cleared.loc[:, Costanzo_ExN_cleared.isna().sum() <= 1150]

# Convert the string float values to floats
Costanzo_ExN_cleared = Costanzo_ExN_cleared.iloc[:, :].apply(pd.to_numeric, errors="coerce")

# Fill remaining NaN values with the mean of the column (doesnt work since values are strings)
# Costanzo_ExN_cleared = Costanzo_ExN_cleared.fillna(Costanzo_ExN_cleared.mean())

In [18]:
# Clear columns for NxN Data
Costanzo_NxN_cleared = GxG_data_Costanzo_NxN.drop(GxG_data_Costanzo_NxN.columns[[0, 1, 3, 4]], axis=1)

# Drop the columns without GWEIGHT
Costanzo_NxN_cleared = Costanzo_NxN_cleared.dropna(subset=["GWEIGHT"])

# Drop the GWEIGHT column, since all remaining GWEIGHTS are the same 
Costanzo_NxN_cleared = Costanzo_NxN_cleared.drop(columns=["GWEIGHT"])

# Rename gene_id column and set it as index to match other datasets
Costanzo_NxN_cleared = Costanzo_NxN_cleared.rename(columns={"ORF": "gene_id"}).set_index("gene_id")

# Drop the columns with over around 15% nan values
# Costanzo_NxN_cleared = Costanzo_NxN_cleared.loc[:, Costanzo_NxN_cleared.isna().sum() <= 550]

# Convert the string float values to floats
Costanzo_NxN_cleared = Costanzo_NxN_cleared.iloc[:, :].apply(pd.to_numeric, errors="coerce")

# Fill remaining NaN values with the mean of the column (doesnt work since values are strings)
# Costanzo_NxN_cleared = Costanzo_NxN_cleared.fillna(Costanzo_NxN_cleared.mean())

First, we extract only the rows and columns corresponding to the genes and we change them to use ORF gene ids.

The matrices are also in a special format, CDT, where the first few rows and first few columns correspond to some different values (GWEIGHT etc.). We remove those.

In [53]:
def cdt_to_mat(cdt):
    mat = cdt.iloc[5:, 6:].apply(pd.to_numeric, errors="coerce")
    mat.columns = cdt.iloc[1, 6:].values
    mat.index = cdt["ORF"].iloc[5:] 
    mat.index.name = "gene_id"  
    return mat

ExE = cdt_to_mat(GxG_data_Costanzo_ExE)
ExN = cdt_to_mat(GxG_data_Costanzo_ExN)
NxN = cdt_to_mat(GxG_data_Costanzo_NxN)

Some genes are repeated, as we see in the next cell. This corresponds to multiple different strains of the yeast being present in the dataset.

In [55]:
ExN.head()

,YML003W,YLR182W,YMR215W,YMR305C,YML021C,YIL099W,YIR029W,YBR050C,YLR413W,YIL093C,...,YDL180W,YNL027W,YJL204C,YDR251W,YPL220W,YDL234C,YNR062C,YOR182C,YDR036C,YDL018C
gene_id,,,,,,,,,,,,,,,,,,,,,
YGL232W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YPR060C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YBR071W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YOR004W,0.021,-0.063,-0.018,0.032,-0.022,-0.061,0.004,0.014,-0.013,0.01,...,0.007,-0.01,-0.0,-0.007,-0.056,-0.028,NaN,NaN,0.02,0.034
YLR307C-A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
Costanzo_ExN_cleared.head()

,dma3509,dma3243,dma3812,dma3908,dma3538,dma2348,dma2430,dma224,dma3435,dma2330,...,dma750,dma3957,dma2604,dma998,dma4951,dma826,dma4263,dma4575,dma5223,dma615
gene_id,,,,,,,,,,,,,,,,,,,,,
YGL232W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YPR060C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YBR071W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YOR004W,0.021,-0.063,-0.018,0.032,-0.022,-0.061,0.004,0.014,-0.013,0.01,...,0.007,-0.01,-0.0,-0.007,-0.056,-0.028,NaN,NaN,0.02,0.034
YLR307C-A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
#all_genes = sorted(set(ExE.index).union(ExE.columns).union(ExN.index).union(ExN.columns).union(NxN.index).union(NxN.columns))
#ExE_ = ExE.groupby(by=ExE.index).mean().T.groupby(by=ExE.columns).mean().T.reindex(index=all_genes, columns=all_genes)
#ExN_ = ExN.groupby(by=ExN.index).mean().T.groupby(by=ExN.columns).mean().T.reindex(index=all_genes, columns=all_genes)
#NxN_ = NxN.groupby(by=NxN.index).mean().T.groupby(by=NxN.columns).mean().T.reindex(index=all_genes, columns=all_genes)

In [20]:
#GxG = ExE_.fillna(0) + ExN_.fillna(0) + NxN_.fillna(0)
#GxG[(ExE_.isna() & ExN_.isna() & NxN_.isna())] = np.nan

In [21]:
#print(f"{GxG.isnull().sum().sum() / GxG.shape[0]**2 * 100:.2f}% NaN values")

48.80% NaN values